<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Add Book</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <app-add-book (updateBooks)="getBooks()"></app-add-book>
</div>

<div *ngIf="books">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Book List ({{books.length}})</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="container">
    <ul>
      <li *ngFor="let book of books">
        <p>Title: {{book.title}} ({{book.category}})</p>
        <p>Description: {{book.desc}}</p>
      </li>
    </ul>
  </div>
</div>
